@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Prompt, san-serif;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}
body {
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  font-weight: 700;
}
a:active {
  text-decoration: none;
}
p {
  letter-spacing: 0.00938em;
  line-height: 1.5rem;
  font-size: 12pt;
}

/* =============button============= */
.primary-btn {
  padding: 10px 40px;
  border-radius: 2px;
  font-weight: 500;
  margin: 10px 0;
  border: none;
  background-color: #ffbb5c;
  color: #000;
}
.primary-btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}
.secondary-btn {
  border: none;
  margin: 10px 0;
  padding: 10px 40px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
.secondary-btn:hover {
  border: none;
  background-color: #ffbb5c;
  color: #000;
  cursor: pointer;
  scale: 1.01;
  transition: 0.25s;
}
