@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DM Sans, san-serif;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 10px;
}
body {
  margin: auto;
  color: rgba(0, 0, 0, 0.87);
}

button {
  padding: 5px 25px;
  border-radius: 25px;
  font-weight: 500;
  margin: 10px 0;
  border: 2px solid #164863;
  background-color: #164863;
  color: #000;
}
button:hover {
  cursor: pointer;
  color: #000;
  background-color: #7dd1ff;
}
a {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
}
p {
  letter-spacing: 0.00938em;
  font-size: 13pt;
}
.secondary-btn {
  border: none;
  padding: 10px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 13pt;
  text-transform: uppercase;
  width: 100%;
}
.secondary-btn:hover {
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  scale: 1.01;
  transition: 0.25s;
}
